.header{
	background-color: #e9d8f4;
	color: #58257b;
	padding: 20px;
	text-align: center;
}

.column{
	float: left;
	width: 33.33%

}

.row:after{
	content: "";
	display: table;
	clear: both;
}

@media screen and (max-width: 600px){
	.column{
		width: 100%;
	}
}

h1{
	text-align: center;
	font-size: 30;
}