html {
    background: #8f78ca;
    font-family: sans-serif, "Times New Roman";
    background-color:black;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

#root {
    position: absolute;
    width: 300px;
    height: 300px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    border-radius: 15px;
    padding: 25px 50px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    font-size: 28px;
}

.form-element {
    margin: 20px 0;
}

.text {
    border: none;
    outline: none;
    padding: 0;
    font-size: 18px;
    color: rgba(0,0,0,0.8);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    width: 100%;
    padding: 2px;
    margin-top: 2px;
}

label {
    font-weight: bold;
    font-size: 16px;
    color: rgba(0,0,0,0.8);
}

input[type="submit"] {
    border: none;
    border-radius: 10px;
    background-color: #0779e4;
    width: 100%;
    height: 35px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
    font-size: 1rem;
    color: white;
    outline: none;
    font-size: 18px;    
    margin-top: 25px;
}

input[type="submit"]:hover {
    cursor: pointer;
}